bin/
dist/
local.properties

.metadata/

*.class
*.swp
*~

.ant-targets-build.xml

.project
.classpath

#robocode
battle-launcher/battles/duel.battle
battle-launcher/robots/robot.database
battle-launcher/config
battle-launcher/duel.results

battle-launcher/robots/sample/SittingDuck.data/count.dat

src/br/edu/ufcg/dsc/ia/coppelia/evolution/chromossome/Coppelia?*.java
src/br/edu/ufcg/dsc/ia/coppelia/robot/Coppelia*.java

data

