bin/
dist/
out/

.metadata/

*.class
*.swp
*~

.ant-targets-build.xml

.project
.classpath

#robocode
robocode/battles/duel.battle
robocode/robots/robot.database
robocode/config
robocode/duel.results

robocode/robots/sample/SittingDuck.data/count.dat

src/br/edu/ufcg/dsc/ia/marvin/evolution/chromossome/Marvin?*.java
src/br/edu/ufcg/dsc/ia/marvin/robot/Marvin*.java

data

